* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 0.6s ease;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

ul li a:hover {
    background-color: white;
    color: black;
}

.logo img {
    position: absolute;
    left: 40%;
    width: 250px;
    height: auto;
    padding-top: 20px;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
}

.button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 10px 27px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: white;
    color: black;
}

.log {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.log h3 {
    color: white;
    font-size: 40px;
}

.usern {
    position: absolute;
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    top: 50%;
    left: 25%;
    border-radius: 0 20px 0 20px;
}

.email {
    position: absolute;
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    top: 100%;
    left: 25%;
    border-radius: 0 20px 0 20px;
}

.pw {
    position: absolute;
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    top: 150%;
    left: 25%;
    border-radius: 0 20px 0 20px;
}

.signupbtn {
    position: absolute;
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    top: 218%;
    left: 25%;
    border-radius: 10px 10px 10px 10px;
}

.signupbtn:hover {
    background-color: lightsteelblue;
    color: black;
}

.showpw {
    position: absolute;
    top: 205%;
    left: 28%;
}

.showpwtxt {
    position: absolute;
    top: 203%;
    left: 33%;
    color: white;
}